%h4 #{@user.name}'s Medical Records

.row
  .col-md-3
    .row#quickbox
      .col-md-3
        .portrait-frame
          = image_tag @user.image, class: 'portrait'
      .col-md-9
        %h3.characteristic= @user.name
        %p= @patient.dob.strftime('%B %e, %Y')
        - if @patient.guardian
          %p #{@patient.guardian.user.name} (Guardian)
      .col-md-12
        %hr
      .col-md-12
        %span.characteristic #{@user.first_name}
        is #{@patient.ethnicity.indefinite_article}
        %span.characteristic #{@patient.ethnicity} #{@user.sex}
        who speaks
        %span.characteristic #{@patient.language}
        \.
      .col-md-12
        %h6 ADDRESS
        #{@patient.street_address}
        %br
        #{@patient.street_address_2}
        %br
        #{@patient.city}, #{@patient.state} #{@patient.zip_code}
      .col-md-12
        %h6 TELEPHONE
        #{number_to_phone @patient.phone_number, area_code: true}
    .row#allergies
      .col-12
        %h5 ALLERGIES
        %hr
        %ul
          - @patient.allergies.each do |k, v|
            %li
              .col-sm-6.characteristic= k.titleize
              .col-sm-6
                - severity = v['severity']
                - (0...severity).each do
                  .severity-dot.filled
                - (0...(5-severity)).each do
                  .severity-dot.empty
              .col-sm-6= v['symptoms']
              .col-sm-6= severity_to_s(severity)
  .col-md-9