%h4 #{@user.name}'s Medical Records

.row
  .col-md-3#left-col
    .row.well#quickbox
      .col-md-4
        .portrait-frame
          = image_tag @user.image, class: 'portrait'
      .col-md-8
        %h2= @user.name
        %p= @patient.dob
        %p= @patient.guardian
      .col-md-12
        %hr
      .col-md-12
        %span.characteristic= @user.first_name
        is #{@patient.ethnicity.indefinite_article}
        %span.characteristic #{@patient.ethnicity} #{@user.sex}
        who speaks
        = succeed '.' do
          %span.characteristic= @patient.language
      .col-md-12
        %h6 ADDRESS
        %p= @patient.address
      .col-md-12
        %h6 TELEPHONE
        = @patient.phone_number
    .row#allergies
      .col-md-12
        .row
          .col-md-9
            %h5 ALLERGIES
          .col-md-3
            .inset-counter= @patient.allergies.count
            %span.glyphicon.glyphicon-triangle-bottom{aria: {hidden: true}}
        .row
          %hr
        .row= @patient.allergy_list
          
        .row
          %hr
        .row
          .col-md-9
            %h5 MEDICAL CONTACTS
          .col-md-3
            .inset-counter= @patient.providers.count
            %span.glyphicon.glyphicon-triangle-bottom{aria: {hidden: true}}
        .row
          %hr
        .row
          %ul.list-unstyled
            %li.row
              .col-md-12.characteristic= @patient.pcp.name
              .col-md-12 Primary Care Doctor
              .col-md-12 ASHBY MEDICAL CENTER
              .col-md-12
                %p
                  1002 Healthcare Dr
                  %br
                  Portland, OR 97349
              .col-md-12 (415) 555-1200
        .row
          %hr


  .col-md-9